@model Car

@{
    ViewData["Title"] = "Uređivanje proizvođača";
}

<ol class="breadcrumb">
    <li><a asp-action="Index">Popis automobila</a></li>
    <li class="active">Uređivanje automobila</li>
</ol>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <partial name="_CreateOrEdit" model="@Model" />
        </form>
    </div>
</div>