@model Maker

@{
    ViewData["Title"] = "Dodavanje novog proizvođača";
}

<ol class="breadcrumb">
    <li><a asp-action="Index">Popis proizvođača</a></li>
    <li class="active">Novi proizvođač</li>
</ol>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_CreateOrEdit" />
        </form>
    </div>
</div>